<!-- This is the user display page -->
<div class="container">
  <% if flash[:message] != nil %>
    <p class="p-3 mb-2 bg-secondary text-white"><%= flash[:message] %></p>
  <% end %>
  <h3>Welcome, <%= @user.username %></h3>
  <form method="post" action="/users/<%= @user.id %>">
    <!-- <input type="text" name="user[username]" placeholder="<%= @user.username %>" disabled> -->
    <label for="email">Email:</label>
    <input type="email" id="email" name="user[email]" placeholder="<%= @user.email %>" class="form-control" aria-describedby="passwordHelpBlock">
    <p id="passwordHelpBlock" class="form-text text-muted">
      Change where you receive our occasional emails, such as our monthly newsletters.
    </p>
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="Update Email">
  </form>
  <br>

  <section>
    <h3>Your posts:</h3>
    <% if @user.posts.empty? %>
      <p>It looks like you haven't posted any content yet.</p>
    <% else %>
      <% @user.posts.each do |post| %>
        <p class="lead"><%= post.content %></p>
        by: <%= post.user.username %> at: <%= post.created_at %>
        <form method="post" action="/posts/<%= post.id %>">
          <input type="text" name="post[content]" placeholder="<%= post.content %>">
          <input type="hidden" name="_method" value="patch">
          <input type="submit" value="Edit">
        </form>
        <form method="post" action="/posts/<%= post.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form><br>
      <% end %>
    <% end %>
  </section>
</div>
