<!-- This is the user display page -->
<div class="container">
  <% if @message != nil %>
    <p class="p-3 mb-2 bg-secondary text-white"><%= @message %></p>
  <% end %>
  <h3>Welcome, <%= @user.username %></h3>
  <form method="post" action="/users/<%= @user.id %>">
    <input type="text" name="user[username]" placeholder="<%= @user.username %>">
    <input type="email" name="user[email]" placeholder="<%= @user.email %>">
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="Update Your Account">
  </form>
  <br>

  <section>
    <h3>Your posts:</h3>
    <% if @user.posts.empty? %>
      <p>It looks like you haven't posted any content yet.</p>
    <% else %>
      <% @user.posts.each do |post| %>
        <p class="lead"><%= post.content %></p>
        by: <%= post.user.username %> at: <%= post.created_at %>
        <form method="post" action="/posts/<%= post.id %>">
          <input type="text" name="post[content]" placeholder="<%= post.content %>">
          <input type="hidden" name="_method" value="patch">
          <input type="submit" value="Edit">
        </form>
        <form method="post" action="/posts/<%= post.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form><br>
      <% end %>
    <% end %>
  </section>
</div>
