<!-- This is the main display page after the landing page. -->
<div class="container">
  <% if @message != nil %>
    <p class="p-3 mb-2 bg-secondary text-white"><%= @message %></p>
  <% end %>
  <% if logged_in? %>
    <form method="post" action="/posts">
      <input type="text" name="post[content]" placeholder="Post content here">
      <input type="hidden" name="board[id]" value="<%= @board.id %>">
      <input type="submit" value="Submit">
    </form>
  <% end %>

  <section>
    <h1><%= @board.topic %></h1>
    <% @board.posts.each do |post| %>
      <p class="lead"><%= post.content %></p>
      by: <%= post.user.username %> at: <%= post.created_at %>
      <% if logged_in? && post.user == current_user %>
      <form method="post" action="/posts/<%= post.id %>">
        <input type="text" name="post[content]" placeholder="<%= post.content %>">
        <input type="hidden" name="_method" value="patch">
        <input type="submit" value="Edit">
      </form>
      <form method="post" action="/posts/<%= post.id %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
      <% end %>
      <br></br>
    <% end %>
  </section>
</div>
