<!-- This is the main display page after the landing page. -->
<% if logged_in? %>
  <form method="post" action="/posts">
    <input type="text" name="post[content]" placeholder="Post content here">
    <input type="hidden" name="board[id]" value="<%= @board.id %>">
    <input type="submit" value="Submit">
  </form>
<% elsif @error_message != nil %>
  <%= @error_message %>
<% else %>
  <p>If you'd like to leave a comment on this board, please sign up or log in</p>
<% end %>

<section>
  <h1><%= @board.topic %></h1>
  <% @board.posts.each do |post| %>
    <%= post.content %><br>
    by: <%= post.user.username %> at: <%= post.created_at %>
    <% if logged_in? && post.user == current_user %>
      <form method="post" action="/posts/<%= post.id %>">
        <input type="text" name="post[content]" placeholder="<%= post.content %>">
        <input type="hidden" name="_method" value="patch">
        <input type="submit" value="Edit">
      </form>
    <% end %>
    <br></br>
  <% end %>
</section>
